/* I have no idea what most of this does; this is css black magic to me */

html, body {
  height: 100%;
  background-color: rgb(132, 192, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  margin: 0;
  display: flex;
  padding-top: 20px; 



  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;

  color: #FFFFFF;
  text-decoration: none;

  justify-content: center;

  align-items: center;
}

.navbar{
  background-color: rgb(77, 93, 233);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 20px;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFFFFF;
}